agent2.json.json
{
  "name": "agent2.json",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "45fa1d28-bd33-4e9c-ae01-fa624212d850",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "i5xcTkcb5GEECB9X",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "inputText": "={{ $json.snippet }}",
        "categories": {
          "categories": [
            {
              "category": "Customer Support",
              "description": "An email  that is related to helping out customer. They may be asking questions about our policies  or questions about our  products and services "
            },
            {
              "category": "other",
              "description": "Any email which is not customer support related"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        208,
        0
      ],
      "id": "1c596f43-9e13-4492-ac89-e92e217cec2b",
      "name": "Text Classifier"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-3.5-turbo",
          "mode": "list",
          "cachedResultName": "gpt-3.5-turbo"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        208,
        192
      ],
      "id": "330fa6cb-2540-4bca-9098-f4108ab789e9",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "FfykNUAwpmZR47pF",
          "name": "OpenAi account 3"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        592,
        64
      ],
      "id": "bd0485e6-6e03-4c9d-b222-2992baec9ac4",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Gmail Trigger').item.json.snippet }}",
        "options": {
          "systemMessage": "You are an AI email assistant. Your role is to help draft professional yet friendly and approachable replies to emails. Always maintain a warm and courteous tone, be concise, and ensure the message is easy to understand. You should sound human, not robotic, and adapt your replies based on the sender’s tone and intent. When appropriate, add a touch of positivity or encouragement. Avoid overly formal or cold language unless specifically requested."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        752,
        -64
      ],
      "id": "4c78e5c1-bd7b-4895-bc68-1ec3aa83da46",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-3.5-turbo",
          "mode": "list",
          "cachedResultName": "gpt-3.5-turbo"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        864,
        240
      ],
      "id": "7e964082-72d0-4da3-b7a2-36cb56bb896a",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "FfykNUAwpmZR47pF",
          "name": "OpenAi account 3"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Call this tool to access policy",
        "pineconeIndex": {
          "__rl": true,
          "value": "demo",
          "mode": "list",
          "cachedResultName": "demo"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        1088,
        192
      ],
      "id": "0cb47d83-6419-4cfc-ae8e-70b41564ef4c",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "uPCa65iNNiAARmSA",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1184,
        400
      ],
      "id": "0c446261-7c78-41a7-9a95-4f7cc0055843",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "FfykNUAwpmZR47pF",
          "name": "OpenAi account 3"
        }
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1216,
        -64
      ],
      "id": "9b42a2c3-8c9a-4d14-8dd3-9231f8946a94",
      "name": "Reply to a message",
      "webhookId": "229f463f-87f5-4534-a588-b0e7ca3688ae",
      "credentials": {
        "gmailOAuth2": {
          "id": "i5xcTkcb5GEECB9X",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Reply to a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "cf71ffd7-ce26-4fa3-a4d6-daddae5069a1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "adcb0c6673072329edad71808ff21bc8da5eab5cdb4b9dc020abd745b86bc355"
  },
  "id": "tl5x1H3X5CwuEDRb",
  "tags": []
}