agent1.json
{
  "name": "Rag chatbot",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1yknwstLHMt7RuLH3hLQwZZ4ti8g4KzLE",
          "mode": "list",
          "cachedResultName": "FAQ",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1yknwstLHMt7RuLH3hLQwZZ4ti8g4KzLE"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "883b4873-d177-466b-9d96-e02a97619214",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "jd5VJcW9oiIWdUFN",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        192,
        0
      ],
      "id": "414f7230-c3fd-424b-a7c1-e8d03b41cc0f",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "jd5VJcW9oiIWdUFN",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "demo",
          "mode": "list",
          "cachedResultName": "demo"
        },
        "embeddingBatchSize": "={{ 200 }}",
        "options": {
          "pineconeNamespace": "demo"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        400,
        0
      ],
      "id": "240cb096-2548-4f5e-824e-af798a29b7d8",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "uPCa65iNNiAARmSA",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        400,
        208
      ],
      "id": "84a524fd-331b-4cd0-808e-379fe00d5b43",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "SKltiZV2qlY5yfVP",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        624,
        208
      ],
      "id": "0c2012d7-44a7-4f78-a4fd-ea6a2a018f44",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 200,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        720,
        416
      ],
      "id": "49da9a3b-6b83-4505-bb61-ddf93c03fb9c",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        1056,
        -64
      ],
      "id": "585aea8b-8fec-43d5-9530-04d7ca97da6c",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        832,
        -64
      ],
      "id": "9cf4f431-da9d-4777-b106-a2a677343b5f",
      "name": "When chat message received",
      "webhookId": "23ec6949-947c-4861-815e-e9cd75f7aadf"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1040,
        112
      ],
      "id": "07a80582-d33a-4e59-8f18-d4412508fce9",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "9QcOMLRmaMRvav3p",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "call this tool to access documents\n",
        "pineconeIndex": {
          "__rl": true,
          "value": "demo",
          "mode": "list",
          "cachedResultName": "demo"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        1152,
        128
      ],
      "id": "38e47623-a019-4d39-a549-36d8899ef61d",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "uPCa65iNNiAARmSA",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1248,
        336
      ],
      "id": "64240f85-4a3c-4e77-8cdb-1d6cb519e2ed",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "SKltiZV2qlY5yfVP",
          "name": "OpenAi account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c9ac8eac-cf2b-4273-a8a6-34a3ab4bff46",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "adcb0c6673072329edad71808ff21bc8da5eab5cdb4b9dc020abd745b86bc355"
  },
  "id": "kyLFhC1VUW8bS1d7",
  "tags": []
}
